[Unit]
Description=Toggle DPMS on video playback
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/firefox-dpms

[Install]
WantedBy=default.target
